html {
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: black;
}

body {
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 930px;
}

section {
    background-color: #121212;
    width: 1280px;
    height: 720px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 12px;
}

.logo {
    width: 229px;
    height: 68px;
}

h1 {
    color: white;
    font-weight: 600;
    font-size: 32px;
}

ul {
    width: 700px;
    display: flex;
    justify-content: space-between;
}

li {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #9C9C9C;
}

figure {
    width: 160px;
    height: 160px;
    overflow: hidden;
    border-radius: 12px;
    border: 2px solid transparent;
}

figure:hover {
    border: 2px solid white;
    transition: 0.7s;
}

#adicionarPerfil {
    background-color: #1E1E20;
}

.avatar {
    width: 160px;
    height: 160px;
    border-radius: 12px;
}

.avatar:hover {
    transform: scale(1.2);
    transition: 0.7s;
}


.adicionarPerfil {
    width: 60px;
    height: 60px;
    padding: 50px;
    background-color: #1E1E20;
    border-radius: 12px;
    opacity: 40%;
    transition: 0.7s;
    border: 2px solid transparent
}

.adicionarPerfil:hover {
    opacity: 100%;
    transition: 0.7s;
    border: 2px solid white;
}

p {
    font-size: 14px;
    margin-top: 16px;
}

li:hover {
    color: #ffffff;
    font-weight: bold;
    transition: 0.7s;
}

button {
    background-color: #121212;
    border-style: none;
    border: 3px solid #FFFFFF;
    border-radius: 8px;
    width: 206px;
    height: 50px;
    color: white;
    cursor: pointer;
    transition: 0.7s;
}

button:hover {
    background-color: white;
    color: #121212;
    transition: 0.7s;
}